<div class="container">
    <mat-form-field>
        <mat-label>Task Name</mat-label>
        <input matInput [(ngModel)] = 'subTaskName'/> 
    </mat-form-field>
    <mat-form-field>
        <mat-label>Task Description</mat-label>
        <input matInput [(ngModel)] = 'subDescription'/> 
    </mat-form-field>
    <mat-form-field>
        <mat-label>Task Status</mat-label>
        <input matInput [(ngModel)] = 'subStatus'/>
    </mat-form-field>
    <button mat-button mat-dialog-close (click)="onAddClick()">Add</button>
</div>